body {
    background-color: #f2f4fa;
  }
  
  h1 {
    color: black;
    font-family: Roboto, Arial, serif;
    text-align: center;
  }

  .center-left {
    font-size: 18px;
    text-align: center;
    font-family: Roboto, Arial, serif;
  }

  .image-container {
    display:flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: lightgreen; 
  }
  
  a:hover {
    text-decoration: underline;
  }