body {
    background-color: #f2f4fa;
  }
  
  h1 {
    display: flex;
    color: black;
    margin-left: 20px;
    font-family: Roboto, Arial, serif;
    justify-content: center;
    align-items: center;
  }

  .center-left {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto, Arial, serif;
  }

  .image-container {
    display:flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: blue; 
  }
  
  a:hover {
    text-decoration: underline;
  }